.navBar1{
    
    text-align: center;
    color: white;
   
 }
 .alertCustomCss {
 
     .alert-message {
         color: black;
     }
 
     .alert-wrapper {
         background-color:aqua;
     }
   }
 
  

 page-home {

    text-align: center;
 
     .home_content{
 
        background-image: url("../assets/imgs/bg2.jpg");
         color:white;
         height:100%;
         background-size: 100% 100%;
         background-repeat: no-repeat;
         background-position: center center;
         display: flex; 
     
     }
     .list-content{
         text-align: center;

     }
     .item-content{

        text-align:left;
        font-weight: bold;
        color:#0000A0;
       
     }
     .img{
        display: block;
        margin: 0 auto;
        text-align:center;
    
     }
 
     
 }
 
